@{
    ViewData["Title"] = "Home Page";
}
<style>

    .headerwrap {
        background: url('../images/comunida-bg.jpg') no-repeat center top;
        padding-top: 120px;
        text-align: center;
        background-attachment: relative;
        background-position: center center;
        height: 100vh;
        width: 100%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .logo-big {
        background: url('../images/logo-white.png') no-repeat center top;
        height: 126px;
        margin: 21% auto;
    }

    .container {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }

    @@media screen and (max-width: 769px)    {
        .logo-big {
            margin: 50% auto;
        }
    }

    @@media screen and (max-width: 769px) {
        .logo-big {
            margin: 50% auto;
        }
    }

</style>

<div class="headerwrap" id="home" name="home">
    <header class="clearfix">
        <div class="logo-big"></div>
    </header>
</div>


<div class="row clearfix text-center" style="height: 250px; padding: 20px; background: #e0e0e0; color: #8a8a8a;">
   <h2>Inspira jóvenes, conecta con mentores</h2>
    <p>
        Comunidá es una plataforma que facilita el pareo, contacto y coordinación entre mentores y organizaciones sin fines de lucro que trabajan con jóvenes de Puerto Rico. En esta plataforma encontrarás información centralizada acerca de las necesidades de las OSFL que representan jóvenes en riesgo y los intereses y competencias de profesionales interesados en el voluntariado. Con Comunidá, podrás coordinar actividades de mentoría fácilmente, de acuerdo a tu disponibilidad.
        ¡Unamos nuestras comunidades al facilitar la inspiración mutua!
    </p>
</div>

<div class="row clearfix" style="height: 250px; padding: 20px; border-top: 4px solid #e0e0e0;">
    <div class="col-sm-12 col-md-6">
        <img src="../images/boy.png" style="display: table; margin: 39px auto;">
    </div>

    <div class="col-sm-12 col-md-6">
        <div style="display: table; margin: 0 auto;">
            <h2>Mentores</h2>
            <p>
                ¡Ayúdanos a inspirar juventud puertorriqueña! Tienes interés de crear lazos con jóvenes en la isla? Quieres compartir conocimiento y destrezas con mentes en desarrollo? ¡Intégrate a tu comunidad al participar de programas de mentoría de organizaciones locales!

                Con Comunidá podrás enterarte de organizaciones que trabajan con jovenes en riesgo dentro de Puerto Rico que sean compatibles con tus intereses. Aquí encontrarás diversas oportunidades de mentoría que provean experiencias gratificantes y cumplan tus requisitos de disponibilidad y localizacion.
            </p>
        </div>
    </div>
</div>
<div class="row clearfix" style="height: 250px; padding: 20px; border-top: 4px solid #e0e0e0;">
    <div class="col-sm-12 col-md-6">
        <div style="display: table; margin: 0 auto;">
            <h2>Organizaciones</h2>
            <p>
                Aqui podras reclutar mentores que cumplan tus requisitos y coordinar eventos y trabajo voluntario.  
            </p>
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <img src="../images/couple.png" style="display: table; margin: 39px auto;">
    </div>
</div>
<div class="row clearfix" style="height: 250px; padding: 20px; border-top: 4px solid #e0e0e0;">
    <div class="col-sm-12 text-center">
        <h2>Creemos lazos comunitarios, inspiremos juventud</h2>
        <p>
            Al conectar jóvenes puertorriqueños con mentores de forma estratégica... ¡nos beneficiamos todos! El objetivo de Comunidá es conectar e integrar miembros de diferentes comunidades al remover obstáculos que limitan dichas relaciones. Al promover interacciones entre jóvenes y mentores, promovemos influencias positivas para los jóvenes, experiencias enriquecedores para los mentores y un mejor futuro para Puerto Rico.   
        </p>
    </div>
</div>
